<body>
    <div class="bramhan">
        <div id="gradient" class="gradient"></div>
        
        <!--Spinner-->
        <div class="loading" *ngIf="!weatherLoaded" [@fadeInOut]="isBusy ? 'open' : 'closed'">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>

        <div class="galaxy">

            <!--Top container-->
            <div class="container-fluid">
                <!--Top menu-->
                <div class="row-fluid">
                    <span class="small pull-right" style="float: right;">
                        <a href="https://darksky.net/poweredby/" target="_new">Powered by Dark Sky</a>                        
                    </span>
                    <br>
                </div>
            </div>

            <!--Current weather component-->
            <sc-current
                [weatherData]="weatherData"
                (weatherReceived)="getWeatherData($event)"
                (newCityName)="getCoords($event)"
                (goToMyLocationEvent)="goToMyLocation()">
            </sc-current>

            <!--Hourly & History component-->
            <sc-hourly
                >
            </sc-hourly>
            
            <!--Daily weather component-->
            <sc-daily>
            </sc-daily>

        </div>
    </div>
</body>