<body>
    <div class="bramhan">
        <div id="gradient" class="gradient"></div>
        
        <!--Loadin screen-->
        <div class="loading" *ngIf="!weatherLoaded || error != ''" [@fadeInOut]="isBusy ? 'open' : 'closed'">
            
            <!--Network error message-->
            <div class="error" *ngIf="error=='network'">
                <i class="material-icons error-icon">perm_scan_wifi</i><br/>
                Looks like there is a network problem. Try in some time. If problem persists, contact developer at <a href="mailto:piyushagade@gmail.com">piyushagade@gmail.com</a> He will help you. He's a good chap.<br/>
                <button class="btn-solid" (click)="resolveError()">Try again</button>
            </div>

            <!--Spinner-->
            <div class="spinner" >
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>

        <div class="galaxy">
            <!--Current weather component-->
            <sc-current
                [weatherData]="weatherData"
                (weatherReceived)="getWeatherData($event)"
                (newCityName)="changeLocation($event)"
                (goToMyLocationEvent)="goToMyLocation()">
            </sc-current>

            <!--Hourly & History component-->
            <sc-hourly
                >
            </sc-hourly>
            
            <!--Daily weather component-->
            <sc-daily>
            </sc-daily>

        </div>
    </div>
</body>