<div class="container">
    <br>
    <div class="row test">
        <div class="col-sm-4 col-md-2 card-no-margin card-black">
            <div  style="width: auto; text-align: center; font-weight: 1000; font-size: 56px; color: #ddd; opacity: 0.6; margin: -10px;">></div><br/>
            <span  style="width: auto; text-align: center; font-weight: 800; color: #ddd;">
                Weather this week
            </span>
        </div>

        <!--Weather icons for each of the next 8 days-->
        <div *ngFor="let day of wd_daily.data" class="col-sm-4 col-md-2 card-no-margin card-4">
            <div class="weather-icons">
                <i *ngIf="day.icon === 'partly-cloudy-day'" class="wi wi-day-sunny-overcast weather-icon"></i>
                <i *ngIf="day.icon === 'partly-cloudy-night'" class="wi wi-night-alt-cloudy weather-icon"></i>
                <i *ngIf="day.icon === 'rain'" class="wi wi-rain weather-icon"></i>
                <i *ngIf="day.icon === 'clear-day'" class="wi wi-day-sunny weather-icon"></i>
                <i *ngIf="day.icon === 'clear-night'" class="wi wi-night-clear weather-icon"></i>
                <i *ngIf="day.icon === 'fog'" class="wi wi-fog weather-icon"></i>
                <i *ngIf="day.icon === 'sleet'" class="wi sleet weather-icon"></i>
                <i *ngIf="day.icon === 'wind'" class="wi wi-strong-wind weather-icon"></i>
                <i *ngIf="day.icon === 'snow'" class="wi wi-snowflake-cold weather-icon"></i>
                <i *ngIf="day.icon === 'cloudy'" class="wi wi-cloud weather-icon"></i>
                <br>{{ day.time * 1000 | date: 'EEEE' }}<br>
                <span class="small"><strong>{{ day.summary }}</strong> </span><br/>
                <span class="small"><strong>Min:</strong> {{ day.temperatureMin }}</span>,
                <span class="small"><strong>Max:</strong> {{ day.temperatureMax }}</span>
            </div>
        </div>
    </div>
</div>